.App {
  margin: 10px;
}

.nav-button {
  font-size: 16px;
}
img.home-button.active {
  display: none;
}
img.home-button.inactive {
  display: block;
}
.navigation .page-link:hover:hover img.active {
  display: block;
}
.navigation .page-link:hover:hover img.inactive {
  display: none;
}
.navigation .page-link:hover {
  background-color: #98ccfd;
  color: #fff;
}
body {
  margin: 0;
  background-color: #eff4ff !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  background-color: #eff4ff;
  /* height: 100vh; */
}

.page-header {
  background-color: #fff;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.page-link {
  text-decoration: none;
  color: rgb(43, 42, 42);
  font-size: 14px;
  padding: 10px 15px;
  background: #f2f2f2;
  margin-right: 30px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-button {
  display: flex;
  align-items: center;
}

.nav-button img {
  width: 30px;
  margin-right: 10px;
}